services:
  db:  # Banco PostgreSQL
    image: postgres:15
    container_name: dyno_postgres
    env_file:
      - .env  # Variáveis de ambiente (.env)
    volumes:
      - ./db/data:/var/lib/postgresql/data  # Persistência de dados
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql  # Script de inicialização
    ports:
      - "5432:5432"  # Porta do PostgreSQL

  fastapi:  # Aplicação principal
    build: ./app  # Constrói imagem da pasta app/
    container_name: dyno_fastapi
    env_file:
      - .env  # Variáveis de ambiente
    depends_on:
      - db  # Espera banco subir primeiro
    ports:
      - "8000:8000"  # Porta da API
    volumes:
      - ./app:/app # monta a pasta app do projeto na pasta app do container
      - ./app/migrations:/app/migrations # monta migrations em tempo de execução

  prometheus:  # Sistema de métricas
    image: prom/prometheus:latest
    container_name: dyno_prometheus
    ports:
      - "9090:9090"  # Interface web do Prometheus
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml  # Configuração
    command:  # Parâmetros de inicialização
      - '--config.file=/etc/prometheus/prometheus.yml'  # Arquivo de config
      - '--storage.tsdb.path=/prometheus'  # Pasta de dados
      - '--web.console.libraries=/etc/prometheus/console_libraries'  # Bibliotecas web
      - '--web.console.templates=/etc/prometheus/consoles'  # Templates web
      - '--web.enable-lifecycle'  # Permite reload via API

  grafana:  # Dashboards e visualização
    image: grafana/grafana:latest
    container_name: dyno_grafana
    ports:
      - "3000:3000"  # Interface web do Grafana
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin  # Senha do admin
      - GF_USERS_ALLOW_SIGN_UP=false  # Desabilita cadastro público
    volumes:
      - grafana-storage:/var/lib/grafana  # Persistência de dados
      - ./monitoring/grafana-dashboard.json:/var/lib/grafana/dashboards/dyno-agent.json  # Dashboard pré-configurado

volumes:
  grafana-storage:  # Volume nomeado para dados do Grafana