services:
  db:
    image: postgres:15
    container_name: dyno_postgres
    env_file:
      - .env
    volumes:
      - ./db/data:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - "5432:5432"

  fastapi:
    build: ./app
    container_name: dyno_fastapi
    env_file:
      - .env
    depends_on:
      - db
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app # monta a pasta app do projeto na pasta app do container
      - ./app/migrations:/app/migrations # monta migrations em tempo de execução

  