fastapi
uvicorn[standard]
httpx
python-dotenv
langgraph
langchain
langchain_openai
sqlalchemy
psycopg2-binary
psycopg[binary,pool]
langgraph-checkpoint-postgres
alembic
asyncpg
pytest
pytest-asyncio

# Google AI Studio
langchain-google-genai

# Etl com excel
pandas
openpyxl
