name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

  
env:
  DATABASE_URL: ${{ vars.DATABASE_URL }}
  DATABASE_URL_CHECKPOINTER: ${{ vars.DATABASE_URL_CHECKPOINTER }}
  GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r app/requirements.txt
          pip install pytest pytest-asyncio httpx

      - name: Run tests
        run: |
          pytest -q
